<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdminLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Admin
	</a>
	<div id="navbar-admin-links" class="dropdown-menu" aria-labelledby="navbarDropdownAdminLink"></div>
</li>

<script>
	$(document).ready(function() {
		$.get("/endpoints?containing=admin", function(data) {
			if(data && data.length > 0) {
				let linksDiv = $("#navbar-admin-links");
				data.filter(elem => elem.name).forEach(elem => {
					linksDiv.append($("<a>").addClass("dropdown-item").attr("href", elem.url).text(elem.name));
				});				
			} else {
				$("#navbarDropdownAdminLink").remove();
				$("#navbar-admin-links").remove();
			}
	    });
	});
</script>